body {
  background: beige;
}

header, footer {
  background: gray;
  border: 3px solid black;
  border-radius: 25px;
}

/* These elements are responsible for the backgrounds and colors of the page, as well as the borders around the header and footer. I feel it gives a nice touch to the page, and contrasts well with the rest of the page. */

h1, h2, h3 {
  text-align: center;
}

/* I aligned all my headers to be centered. I feel it looks more professional this way. */

h1 {
  font-family: cursive;
  font-size: 44px;
  color: white;
  padding: 25px;
  margin: 25px;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 28px;
  color: white;
  padding: 25px;
  margin: 25px;
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  background: gray;
  color: white;
}

.btn {
  display: inline-block;
  text-decoration: none;
  margin: 10px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 2px solid black;
}

/* This button idea I got from the course, but made some changes, and used it to decorate my headers on the page. I feel it adds more life in between the page, and matches well with the header and footer. */

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  height: 8px;
  background: gray;
}

/* Made my line breaks a bit more noticable so that the page looks more spread out and aesthetically pleasing. */

.picture-spacing {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* This is the picture spacing class I made for the images on my page. It makes the images and the text around it look better. */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* This is for centering the whole page, and condensing the information to the middle, so that its easier to read, and better on the eyes. */

.footer-center {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* Spacing and padding for the footer to make it look better. */

a {
  font-size:18px;
}

a:link    { color: blue;  }
a:visited { color: purple;   }
a:hover   { color: darkblue; }
a:active  { color: red;  }

/* These are my styled links. I made some changes to the colors in the way that makes sense to me. */